/* Styles within Chatbot.js */
.container {
  overflow: hidden
}

.containerScroll {
  overflow: auto;
  overflow-y: scroll;
  overflow: hidden;
}

/* Styles within Card.js */
.card {
  width: 240px;
  display: inline-flex;
  flex-direction: column;
  background-color: var(--off-white);
  margin-right: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-less);
}

.image {
  width: 240px;
  height: 200px;
}

.header,
.description,
.link,
.price {
  display: block;
  padding: 0 3px;
}
