.heading {
  padding-top: 112px;
  text-align: center;
}

.subHeading {
  text-align: center;
}

.placeholder {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.placeholder img {
  width: 60% !important;
}
